body {
    font-family: "Times New Roman", serif;
    margin: 0;
    color: #000; /* Black text */
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background: none; /* Remove header background */
    color: #000; /* Black header text for visibility */
    padding-top: 30px;
    min-height: 70px;
    border-bottom: none; /* Remove border */
}

header h1 {
    float: left;
    margin-top: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

main {
    padding: 20px 0;
}
